
		<div id="outer1">
			<div class="unregistered1">
				<form>
					<h2>
						Not Registered?
					</h2>
					<h3>
						Take a quick survey to be a part of the action
					</h3>
					<p>
						First Name: <input type="text" name="text1">
					</p>
					<p>
						Email: <input type="text" name="text1">
					</p>
					<p>
						<input type="submit" name="survey" value="Take The Survey">
					</p>
				</form>
			</div>
			<div class="registered1">
				<form>
					<h2>
						Already Registered?
					</h2>
					<h3>
						Find your name below to get started
					</h3>
					<p>
						<input type="checkbox" name="check1">John Doe<br>
						<input type="checkbox" name="check1">John Doe<br>
						<input type="checkbox" name="check1">John Doe<br>
						<input type="checkbox" name="check1">John Doe<br>
						<input type="checkbox" name="check1">John Doe<br>
						<input type="checkbox" name="check1">John Doe<br>
					</p>
					<p>
						<input type="submit" name="Registered" value="Get Started">
					</p>
				</form>
			</div>
			<div id="sponsors1">
				<h2>
					Are you considering sponsoring a project?...
				</h2><button name="sponsorButton">Click Here!</button>
			</div>
		</div>
