<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="diceBreaker.css" />
		<title><%= @title %></title>
	</head>
		<body>
			<div id="title">DiceBreaker</div>
			<%= yield %>
		</body>
</html>