
		<div id="outer3">
			<div class="unregistered3">
            <h1>Thank you for sponsoring this important event.</h1>
			</div>
			
			<div id="sponsors3">
				<h2>
					Click Here To Go To PayPal
				</h2><button name="sponsorButton">Click Here!</button>
			</div>
		</div>
