<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="sponsorpage.css" />
	</head>
		<body>
			<div id="title">DiceBreaker</div>
		<div id="outer">
			<div class="unregistered">
                				<h2>
					Start A Community Garden
				</h2>
				<h4>
				   <p>Based on current participation, this project has a 50% likelihood of succeeding. Your donation of $5,000 would give the project a 95% likelihood of success.</p> 
				</h4> 
			</div>
			<div class="registered">
					<h2>
						Neighborhood Block Party
					</h2>
					<h4>
					   <p>Based on current participation, this project has a 50% likelihood of succeeding. Your donation of $5,000 would give the project a 95% likelihood of success.</p> 
					</h4>
			</div>
			<div class="registered">
					<h2>
						Restore Smelting Factory
					</h2>
					<h4>
					   <p>Based on current participation, this project has a 20% likelihood of succeeding. Your donation of $50,000 would give the project a 95% likelihood of success.</p> 
					</h4>
			</div>
			<div id="sponsors">
				<h2>
					Which opportunity would you like to sponsor?
				</h2>
				<form>
				<input type="checkbox" name="check1">Community Garden<br>
				<input type="checkbox" name="check1">Block Party<br>
				<input type="checkbox" name="check1">Smelting Factorys<br>
				<button name="sponsorButton">Click Here!</button>
				</form>
			</div>
		</div>
		</body>
</html>